USE [master]
GO
/****** Object:  Database [ELearningDB]    Script Date: 17/05/2026 7:09:23 PM ******/
CREATE DATABASE [ELearningDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ELearningDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ELearningDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ELearningDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ELearningDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ELearningDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ELearningDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 17/05/2026 7:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActivityLogs]    Script Date: 17/05/2026 7:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Action] [nvarchar](max) NOT NULL,
	[AdminName] [nvarchar](max) NOT NULL,
	[Details] [nvarchar](max) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ActivityLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 17/05/2026 7:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 17/05/2026 7:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 17/05/2026 7:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 17/05/2026 7:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 17/05/2026 7:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 17/05/2026 7:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[IsPaid] [bit] NOT NULL,
	[PaymentDate] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[PlainPassword] [nvarchar](max) NULL,
	[LastCountry] [nvarchar](max) NULL,
	[LastDeviceId] [nvarchar](max) NULL,
	[LastIP] [nvarchar](max) NULL,
	[SessionToken] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 17/05/2026 7:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientSettings]    Script Date: 17/05/2026 7:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClientName] [nvarchar](200) NULL,
	[ThemeColor] [nvarchar](20) NULL,
	[LogoPath] [nvarchar](300) NULL,
	[ThemeName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 17/05/2026 7:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[ThumbnailUrl] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAQItems]    Script Date: 17/05/2026 7:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAQItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Question] [nvarchar](max) NOT NULL,
	[Answer] [nvarchar](max) NULL,
	[StudentName] [nvarchar](200) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[IsVisible] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GalleryImages]    Script Date: 17/05/2026 7:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GalleryImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_GalleryImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LicenseDevices]    Script Date: 17/05/2026 7:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LicenseDevices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LicenseKey] [nvarchar](100) NULL,
	[DeviceId] [nvarchar](200) NULL,
	[ActivatedOn] [datetime] NULL,
	[LicenseId] [int] NULL,
	[DeviceName] [nvarchar](200) NULL,
	[OSVersion] [nvarchar](200) NULL,
	[OfflineToken] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Licenses]    Script Date: 17/05/2026 7:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Licenses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClientName] [nvarchar](200) NOT NULL,
	[Domain] [nvarchar](200) NOT NULL,
	[LicenseKey] [nvarchar](200) NOT NULL,
	[ExpirationDate] [datetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[MaxDevices] [int] NOT NULL,
	[UsedDevices] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuItems]    Script Date: 17/05/2026 7:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Url] [nvarchar](max) NOT NULL,
	[Order] [int] NOT NULL,
	[IsVisible] [bit] NOT NULL,
	[Icon] [nvarchar](max) NULL,
	[ParentId] [int] NULL,
	[Roles] [nvarchar](max) NULL,
 CONSTRAINT [PK_MenuItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 17/05/2026 7:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PageContents]    Script Date: 17/05/2026 7:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PageContents](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PageName] [nvarchar](50) NOT NULL,
	[Section] [nvarchar](50) NOT NULL,
	[Content] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PageVisitLogs]    Script Date: 17/05/2026 7:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PageVisitLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](max) NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[PageUrl] [nvarchar](max) NOT NULL,
	[PageTitle] [nvarchar](max) NOT NULL,
	[VisitTime] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PageVisitLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 17/05/2026 7:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[CourseId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[StripePaymentId] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[PaymentDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Payments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 17/05/2026 7:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentName] [nvarchar](max) NOT NULL,
	[Comment] [nvarchar](max) NOT NULL,
	[Rating] [int] NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeamMembers]    Script Date: 17/05/2026 7:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamMembers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_TeamMembers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserCourses]    Script Date: 17/05/2026 7:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCourses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[CourseId] [int] NOT NULL,
 CONSTRAINT [PK_UserCourses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VideoProgress]    Script Date: 17/05/2026 7:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VideoProgress](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[VideoId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[ProgressPercent] [float] NOT NULL,
	[LastPositionSeconds] [int] NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Videos]    Script Date: 17/05/2026 7:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Videos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CourseId] [int] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[FileName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[IsFree] [bit] NOT NULL,
	[OrderNumber] [int] NOT NULL,
	[DurationSeconds] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[BunnyCDNHostname] [nvarchar](max) NULL,
	[BunnyLibraryId] [nvarchar](max) NULL,
	[BunnyVideoId] [nvarchar](max) NULL,
	[UseBunny] [bit] NOT NULL,
 CONSTRAINT [PK_Videos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorksheetFiles]    Script Date: 17/05/2026 7:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorksheetFiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VideoId] [int] NOT NULL,
	[FileName] [nvarchar](max) NOT NULL,
	[FilePath] [nvarchar](max) NOT NULL,
	[AllowDownload] [bit] NOT NULL,
	[FileUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_WorksheetFiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorksheetItem]    Script Date: 17/05/2026 7:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorksheetItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VideoId] [int] NOT NULL,
	[Question] [nvarchar](max) NOT NULL,
	[Answer] [nvarchar](max) NULL,
 CONSTRAINT [PK_WorksheetItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260407185957_InitialCreate', N'8.0.23')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260410030622_AddPlainPasswordColumn', N'8.0.23')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260410041751_AddUserCourseTable', N'8.0.23')
GO
SET IDENTITY_INSERT [dbo].[ActivityLogs] ON 

INSERT [dbo].[ActivityLogs] ([Id], [Action], [AdminName], [Details], [Date]) VALUES (31, N'DELETE_LOGS', N'ABUHMAM84', N'Deleted all logs.', CAST(N'2026-04-27T07:28:03.2764651' AS DateTime2))
INSERT [dbo].[ActivityLogs] ([Id], [Action], [AdminName], [Details], [Date]) VALUES (32, N'Delete User', N'admin', N'User fd7e012c-31e6-4f60-8451-adc4b46e33b3 was anonymized and deactivated.', CAST(N'2026-04-27T07:29:22.3932214' AS DateTime2))
INSERT [dbo].[ActivityLogs] ([Id], [Action], [AdminName], [Details], [Date]) VALUES (33, N'Delete User', N'admin', N'User 4325c644-611d-4ce6-b277-dd735674d8f6 was anonymized and deactivated.', CAST(N'2026-04-27T07:29:27.4373748' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ActivityLogs] OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'035779cb-ec59-4752-a996-e4474d18822d', N'Admin', N'ADMIN', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'0EDCEF08-EA67-4A11-BCE6-1DF662823E02', N'Instructor', N'INSTRUCTOR', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'1FA9CE09-6262-4E4C-9ECC-96BAE38CCA3E', N'SuperAdmin', N'SUPERADMIN', NULL)
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'5dc3955e-e562-43a9-b4f6-6d0b35a1876f', N'035779cb-ec59-4752-a996-e4474d18822d')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'6f9be084-6d02-4db3-bfd8-63708a2c0a98', N'035779cb-ec59-4752-a996-e4474d18822d')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'5dc3955e-e562-43a9-b4f6-6d0b35a1876f', N'1FA9CE09-6262-4E4C-9ECC-96BAE38CCA3E')
GO
SET IDENTITY_INSERT [dbo].[ClientSettings] ON 

INSERT [dbo].[ClientSettings] ([Id], [ClientName], [ThemeColor], [LogoPath], [ThemeName]) VALUES (12, N'ABUHMAM84', NULL, N'/uploads/logos/logos.png', N'theme1')
SET IDENTITY_INSERT [dbo].[ClientSettings] OFF
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([Id], [Title], [Description], [Price], [ThumbnailUrl], [IsActive], [CreatedAt]) VALUES (3, N'mathmatic quation and relation ship', N'equation', CAST(200.00 AS Decimal(18, 2)), N'516918eb-8906-4cc8-859d-3eb58e986839.jpg', 1, CAST(N'2026-04-27T07:33:03.7996327' AS DateTime2))
INSERT [dbo].[Courses] ([Id], [Title], [Description], [Price], [ThumbnailUrl], [IsActive], [CreatedAt]) VALUES (4, N'gggggggggggggggggggg', N'gggggggggggggggggggggggggggg', CAST(99.00 AS Decimal(18, 2)), N'9d2f8f1b-4656-45b7-82b9-7ad118a2eda4.jpg', 1, CAST(N'2026-04-27T08:40:32.0515065' AS DateTime2))
INSERT [dbo].[Courses] ([Id], [Title], [Description], [Price], [ThumbnailUrl], [IsActive], [CreatedAt]) VALUES (5, N'FFFFFFFFFFFFF', N'FFFFFFFFFFFFFFFF', CAST(44.00 AS Decimal(18, 2)), N'0a1fc281-8fe4-4824-a4dd-66a8e5dc2576.jpg', 1, CAST(N'2026-04-27T14:41:45.3340883' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[GalleryImages] ON 

INSERT [dbo].[GalleryImages] ([Id], [FileName], [ImageUrl]) VALUES (12, N'53dce697-1011-43a5-be11-fc766de46cb7.jpg', NULL)
INSERT [dbo].[GalleryImages] ([Id], [FileName], [ImageUrl]) VALUES (13, N'a8ff8d41-822c-4c36-bf99-26b847439d19.jpg', NULL)
SET IDENTITY_INSERT [dbo].[GalleryImages] OFF
GO
SET IDENTITY_INSERT [dbo].[LicenseDevices] ON 

INSERT [dbo].[LicenseDevices] ([Id], [LicenseKey], [DeviceId], [ActivatedOn], [LicenseId], [DeviceName], [OSVersion], [OfflineToken]) VALUES (1, N'ABC-123', N'DEVICE-XYZ', CAST(N'2026-05-02T10:41:13.890' AS DateTime), 5, NULL, NULL, NULL)
INSERT [dbo].[LicenseDevices] ([Id], [LicenseKey], [DeviceId], [ActivatedOn], [LicenseId], [DeviceName], [OSVersion], [OfflineToken]) VALUES (2, N'YOUR-LICENSE-KEY', N'YOUR-DEVICE-ID', CAST(N'2026-05-02T10:41:50.230' AS DateTime), 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[LicenseDevices] OFF
GO
SET IDENTITY_INSERT [dbo].[Licenses] ON 

INSERT [dbo].[Licenses] ([Id], [ClientName], [Domain], [LicenseKey], [ExpirationDate], [IsActive], [MaxDevices], [UsedDevices]) VALUES (1, N'ISLAM ABUMUSAMEH', N'IslamMathMind.com', N'LIC-ISLAMABUMUSAMEH-2026-73CB-127D', CAST(N'2027-01-01T00:00:00.000' AS DateTime), 1, 1, 0)
INSERT [dbo].[Licenses] ([Id], [ClientName], [Domain], [LicenseKey], [ExpirationDate], [IsActive], [MaxDevices], [UsedDevices]) VALUES (5, N'khalid', N'khalidMathMind.com', N'LIC-KHALID-2026-A568-3995', CAST(N'2027-04-26T04:41:00.000' AS DateTime), 1, 1, 0)
INSERT [dbo].[Licenses] ([Id], [ClientName], [Domain], [LicenseKey], [ExpirationDate], [IsActive], [MaxDevices], [UsedDevices]) VALUES (6, N'Rami Ahamad', N'RamiMathAcademic', N'LIC-RAMIAHAMAD-2026-91E8-AA16', CAST(N'2027-05-01T17:32:00.000' AS DateTime), 1, 1, 0)
SET IDENTITY_INSERT [dbo].[Licenses] OFF
GO
SET IDENTITY_INSERT [dbo].[MenuItems] ON 

INSERT [dbo].[MenuItems] ([Id], [Name], [Url], [Order], [IsVisible], [Icon], [ParentId], [Roles]) VALUES (3542, N'التقييم', N'Reviews', 1, 1, NULL, NULL, NULL)
INSERT [dbo].[MenuItems] ([Id], [Name], [Url], [Order], [IsVisible], [Icon], [ParentId], [Roles]) VALUES (3543, N'من نحن', N'About', 2, 1, NULL, NULL, NULL)
INSERT [dbo].[MenuItems] ([Id], [Name], [Url], [Order], [IsVisible], [Icon], [ParentId], [Roles]) VALUES (3544, N'المدونة', N'Blog', 3, 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[MenuItems] OFF
GO
SET IDENTITY_INSERT [dbo].[PageContents] ON 

INSERT [dbo].[PageContents] ([Id], [PageName], [Section], [Content]) VALUES (27, N'About', N'Header', N'منصة تعليمية.')
INSERT [dbo].[PageContents] ([Id], [PageName], [Section], [Content]) VALUES (29, N'Blog', N'Header', N'المدونة')
SET IDENTITY_INSERT [dbo].[PageContents] OFF
GO
SET IDENTITY_INSERT [dbo].[PageVisitLogs] ON 

INSERT [dbo].[PageVisitLogs] ([Id], [UserId], [UserName], [PageUrl], [PageTitle], [VisitTime]) VALUES (2657, N'6f9be084-6d02-4db3-bfd8-63708a2c0a98', N'admin', N'/', N'ELearningPlatform.Controllers.HomeController.Index (ELearningPlatform)', CAST(N'2026-04-27T07:28:16.7431256' AS DateTime2))
INSERT [dbo].[PageVisitLogs] ([Id], [UserId], [UserName], [PageUrl], [PageTitle], [VisitTime]) VALUES (2658, N'6f9be084-6d02-4db3-bfd8-63708a2c0a98', N'admin', N'/Admin', N'ELearningPlatform.Controllers.AdminController.Index (ELearningPlatform)', CAST(N'2026-04-27T07:28:18.5537728' AS DateTime2))
INSERT [dbo].[PageVisitLogs] ([Id], [UserId], [UserName], [PageUrl], [PageTitle], [VisitTime]) VALUES (2659, N'6f9be084-6d02-4db3-bfd8-63708a2c0a98', N'admin', N'/Admin/Students', N'ELearningPlatform.Controllers.AdminController.Students (ELearningPlatform)', CAST(N'2026-04-27T07:28:20.4490551' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[PageVisitLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([Id], [UserId], [CourseId], [Amount], [StripePaymentId], [Status], [PaymentDate]) VALUES (4, N'fe57d950-e29e-495a-8701-d9f11401db9a', 3, CAST(200.00 AS Decimal(18, 2)), N'TRANSFER_26632566+66663333', N'Approved', CAST(N'2026-04-27T14:44:26.4944281' AS DateTime2))
INSERT [dbo].[Payments] ([Id], [UserId], [CourseId], [Amount], [StripePaymentId], [Status], [PaymentDate]) VALUES (5, N'1e9434fd-3cba-49cb-985e-cf29cf7258f1', 3, CAST(200.00 AS Decimal(18, 2)), N'TRANSFER_2563245996', N'Approved', CAST(N'2026-04-27T16:24:21.0359944' AS DateTime2))
INSERT [dbo].[Payments] ([Id], [UserId], [CourseId], [Amount], [StripePaymentId], [Status], [PaymentDate]) VALUES (6, N'c192d1ad-253b-4a03-8ad4-bd23e35584e2', 5, CAST(44.00 AS Decimal(18, 2)), N'TRANSFER_256324599600000', N'Pending', CAST(N'2026-04-27T16:25:34.4747477' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[UserCourses] ON 

INSERT [dbo].[UserCourses] ([Id], [UserId], [CourseId]) VALUES (4, N'fe57d950-e29e-495a-8701-d9f11401db9a', 3)
INSERT [dbo].[UserCourses] ([Id], [UserId], [CourseId]) VALUES (5, N'1e9434fd-3cba-49cb-985e-cf29cf7258f1', 3)
INSERT [dbo].[UserCourses] ([Id], [UserId], [CourseId]) VALUES (6, N'5683908b-db36-42fe-98a8-bb19a6419794', 7)
SET IDENTITY_INSERT [dbo].[UserCourses] OFF
GO
SET IDENTITY_INSERT [dbo].[Videos] ON 

INSERT [dbo].[Videos] ([Id], [CourseId], [Title], [FileName], [Description], [IsFree], [OrderNumber], [DurationSeconds], [CreatedAt], [BunnyCDNHostname], [BunnyLibraryId], [BunnyVideoId], [UseBunny]) VALUES (5, 3, N'equation algebera', N'equationalgebera.mp4', N'algebra', 0, 3, 0, CAST(N'2026-04-27T08:36:59.7242572' AS DateTime2), NULL, NULL, NULL, 0)
INSERT [dbo].[Videos] ([Id], [CourseId], [Title], [FileName], [Description], [IsFree], [OrderNumber], [DurationSeconds], [CreatedAt], [BunnyCDNHostname], [BunnyLibraryId], [BunnyVideoId], [UseBunny]) VALUES (6, 4, N'ddddddddddddd', N'ddddddddddddd.mp4', N'dddddddddddddddddddd', 0, 1, 0, CAST(N'2026-04-27T08:41:19.9532907' AS DateTime2), NULL, NULL, NULL, 0)
INSERT [dbo].[Videos] ([Id], [CourseId], [Title], [FileName], [Description], [IsFree], [OrderNumber], [DurationSeconds], [CreatedAt], [BunnyCDNHostname], [BunnyLibraryId], [BunnyVideoId], [UseBunny]) VALUES (7, 4, N'dddddddddddddddddddd', N'dddddddddddddddddddd.mp4', N'ddffffffffffffffffffffffffff', 0, 4, 0, CAST(N'2026-04-27T08:41:52.0749071' AS DateTime2), NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Videos] OFF
GO
SET IDENTITY_INSERT [dbo].[WorksheetFiles] ON 

INSERT [dbo].[WorksheetFiles] ([Id], [VideoId], [FileName], [FilePath], [AllowDownload], [FileUrl]) VALUES (11, 5, N'5cebb0f0f6fd4b2492d0172b25ebb22a.pdf', N'/ProtectedWorksheetFile/5cebb0f0f6fd4b2492d0172b25ebb22a.pdf', 0, NULL)
INSERT [dbo].[WorksheetFiles] ([Id], [VideoId], [FileName], [FilePath], [AllowDownload], [FileUrl]) VALUES (12, 5, N'b647e014ceb74896b147ce9271763c6e.pdf', N'/ProtectedWorksheetFile/b647e014ceb74896b147ce9271763c6e.pdf', 0, NULL)
INSERT [dbo].[WorksheetFiles] ([Id], [VideoId], [FileName], [FilePath], [AllowDownload], [FileUrl]) VALUES (13, 5, N'bdf41ac2b9d544438024ec336c341716.pdf', N'/ProtectedWorksheetFile/bdf41ac2b9d544438024ec336c341716.pdf', 0, NULL)
SET IDENTITY_INSERT [dbo].[WorksheetFiles] OFF
GO
SET IDENTITY_INSERT [dbo].[WorksheetItem] ON 

INSERT [dbo].[WorksheetItem] ([Id], [VideoId], [Question], [Answer]) VALUES (2, 5, N'sddddddddddddddddd', N'dsssssssssssssssssss')
INSERT [dbo].[WorksheetItem] ([Id], [VideoId], [Question], [Answer]) VALUES (3, 5, N'dsssssssssssssssssssssssss', N'ddddddddddddddddddddddd')
INSERT [dbo].[WorksheetItem] ([Id], [VideoId], [Question], [Answer]) VALUES (4, 6, N'cccccccccccccc', N'cccccccccccccccc')
SET IDENTITY_INSERT [dbo].[WorksheetItem] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 17/05/2026 7:09:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 17/05/2026 7:09:24 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 17/05/2026 7:09:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 17/05/2026 7:09:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 17/05/2026 7:09:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 17/05/2026 7:09:24 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 17/05/2026 7:09:24 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MenuItems_ParentId]    Script Date: 17/05/2026 7:09:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_MenuItems_ParentId] ON [dbo].[MenuItems]
(
	[ParentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_CourseId]    Script Date: 17/05/2026 7:09:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_CourseId] ON [dbo].[Payments]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Payments_UserId]    Script Date: 17/05/2026 7:09:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_UserId] ON [dbo].[Payments]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserCourses_CourseId]    Script Date: 17/05/2026 7:09:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserCourses_CourseId] ON [dbo].[UserCourses]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserCourses_UserId]    Script Date: 17/05/2026 7:09:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserCourses_UserId] ON [dbo].[UserCourses]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Videos_CourseId]    Script Date: 17/05/2026 7:09:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_Videos_CourseId] ON [dbo].[Videos]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WorksheetFiles_VideoId]    Script Date: 17/05/2026 7:09:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_WorksheetFiles_VideoId] ON [dbo].[WorksheetFiles]
(
	[VideoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WorksheetItem_VideoId]    Script Date: 17/05/2026 7:09:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_WorksheetItem_VideoId] ON [dbo].[WorksheetItem]
(
	[VideoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (N'') FOR [PlainPassword]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsActive]
GO
ALTER TABLE [dbo].[FAQItems] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[FAQItems] ADD  DEFAULT ((1)) FOR [IsVisible]
GO
ALTER TABLE [dbo].[LicenseDevices] ADD  DEFAULT (getdate()) FOR [ActivatedOn]
GO
ALTER TABLE [dbo].[Licenses] ADD  DEFAULT ((1)) FOR [MaxDevices]
GO
ALTER TABLE [dbo].[Licenses] ADD  DEFAULT ((0)) FOR [UsedDevices]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[VideoProgress] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Videos] ADD  DEFAULT (CONVERT([bit],(0))) FOR [UseBunny]
GO
ALTER TABLE [dbo].[WorksheetFiles] ADD  DEFAULT (CONVERT([bit],(0))) FOR [AllowDownload]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[LicenseDevices]  WITH CHECK ADD  CONSTRAINT [FK_LicenseDevices_Licenses] FOREIGN KEY([LicenseId])
REFERENCES [dbo].[Licenses] ([Id])
GO
ALTER TABLE [dbo].[LicenseDevices] CHECK CONSTRAINT [FK_LicenseDevices_Licenses]
GO
ALTER TABLE [dbo].[MenuItems]  WITH CHECK ADD  CONSTRAINT [FK_MenuItems_MenuItems_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[MenuItems] ([Id])
GO
ALTER TABLE [dbo].[MenuItems] CHECK CONSTRAINT [FK_MenuItems_MenuItems_ParentId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_User]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Courses_CourseId]
GO
ALTER TABLE [dbo].[UserCourses]  WITH CHECK ADD  CONSTRAINT [FK_UserCourses_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserCourses] CHECK CONSTRAINT [FK_UserCourses_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[UserCourses]  WITH CHECK ADD  CONSTRAINT [FK_UserCourses_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserCourses] CHECK CONSTRAINT [FK_UserCourses_Courses_CourseId]
GO
ALTER TABLE [dbo].[VideoProgress]  WITH CHECK ADD  CONSTRAINT [FK_VideoProgress_Course] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[VideoProgress] CHECK CONSTRAINT [FK_VideoProgress_Course]
GO
ALTER TABLE [dbo].[VideoProgress]  WITH CHECK ADD  CONSTRAINT [FK_VideoProgress_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[VideoProgress] CHECK CONSTRAINT [FK_VideoProgress_User]
GO
ALTER TABLE [dbo].[VideoProgress]  WITH CHECK ADD  CONSTRAINT [FK_VideoProgress_Video] FOREIGN KEY([VideoId])
REFERENCES [dbo].[Videos] ([Id])
GO
ALTER TABLE [dbo].[VideoProgress] CHECK CONSTRAINT [FK_VideoProgress_Video]
GO
ALTER TABLE [dbo].[Videos]  WITH CHECK ADD  CONSTRAINT [FK_Videos_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Videos] CHECK CONSTRAINT [FK_Videos_Courses_CourseId]
GO
ALTER TABLE [dbo].[WorksheetFiles]  WITH CHECK ADD  CONSTRAINT [FK_WorksheetFiles_Videos_VideoId] FOREIGN KEY([VideoId])
REFERENCES [dbo].[Videos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorksheetFiles] CHECK CONSTRAINT [FK_WorksheetFiles_Videos_VideoId]
GO
ALTER TABLE [dbo].[WorksheetItem]  WITH CHECK ADD  CONSTRAINT [FK_WorksheetItem_Videos_VideoId] FOREIGN KEY([VideoId])
REFERENCES [dbo].[Videos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorksheetItem] CHECK CONSTRAINT [FK_WorksheetItem_Videos_VideoId]
GO
USE [master]
GO
